<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item  class="d-flex justify-content-between">
      <ion-label>
        Zip-code
      </ion-label>
      <ion-input mode="ios" class="ion-text-end" placeholder="Zip-code" type="number" [(ngModel)]="user.zip_code"></ion-input>
    </ion-item>
    <ion-item class="d-flex justify-content-between">
      <ion-label>
        Radius
      </ion-label>
      <ion-input mode="ios" placeholder="Radius" class="ion-text-end" type="number" [(ngModel)]="user.radius"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" mode="ios" size="small" (click)="updateUserInfo()">Update</ion-button>
  </ion-toolbar>
</ion-footer>