<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-input mode="ios" type="text" formControlName="email" label="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" formControlName="password" label="password"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button mode="ios" size="small" class="w-100"
          [disabled]="!loginForm.valid" (click)="login()">
          <span>
            Login
          </span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="secondary" size="small" class="w-100   " mode="ios"
          routerLink="/register">
          <span>
            Register
          </span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>