/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Theme variables */

*{
  font-family: 'system-ui', sans-serif;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #000;
}

.color-primary {
  color: var(--ion-color-primary)!important;
}

.color-secondary {
  color: var(--ion-color-secondary)!important;
}

.color-tertiary {
  color: var(--ion-color-tertiary)!important;
}

.color-success {
  color: var(--ion-color-success)!important;
}

.color-warning {
  color: var(--ion-color-warning)!important;
}

.color-danger {
  color: var(--ion-color-danger)!important;
}

.color-dark {
  color: var(--ion-color-dark)!important;
}

.color-medium {
  color: var(--ion-color-medium)!important;
}

.color-light {
  color: var(--ion-color-light)!important;
}

.color-clear {
  color: var(--ion-color-clear)!important;
}





.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}



.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}


.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-75 {
  width: 75%;
}

.h-50 {
  height: 50%;
}

.h-25 {
  height: 25%;
}

.h-75 {
  height: 75%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-static {
  position: static;
}

.position-sticky {
  position: sticky;
}

.rounded-1 {
  border-radius: 0.25rem;
}

.rounded-2 {
  border-radius: 0.5rem;
}

.rounded-3 {
  border-radius: 1rem;
}

.rounded-4 {
  border-radius: 1.5rem;
}

.border-0 {
  border: 0;
}

.border-top-0 {
  border-top: 0;
}

.border-right-0 {
  border-right: 0;
}

.border-bottom-0 {
  border-bottom: 0;
}

.border-left-0 {
  border-left: 0;
}

.border-1 {
  border: 0.05rem solid;
}

.border-top-1 {
  border-top: 0.05rem solid;
}

.border-right-1 {
  border-right: 0.05rem solid;
}

.border-bottom-1 {
  border-bottom: 0.05rem solid;
}

.border-left-1 {
  border-left: 0.05rem solid;
}

.border-2 {
  border: 0.1rem solid;
}

.border-top-2 {
  border-top: 0.1rem solid;
}

.border-right-2 {
  border-right: 0.1rem solid;
}

.border-bottom-2 {
  border-bottom: 0.1rem solid;
}

.border-left-2 {
  border-left: 0.1rem solid;
}

.border-3 {
  border: .15rem solid;
}

.border-top-3 {
  border-top: .15rem solid;
}

.border-right-3 {
  border-right: .15rem solid;
}

.border-bottom-3 {
  border-bottom: .15rem solid;
}

.border-left-3 {
  border-left: .15rem solid;
}

.border-4 {
  border: .2rem solid;
}

.border-top-4 {
  border-top: .2rem solid;
}

.border-right-4 {
  border-right: .2rem solid;
}

.border-bottom-4 {
  border-bottom: .2rem solid;
}

.border-left-4 {
  border-left: .2rem solid;
}

.font-size-1 {
  font-size: 0.75rem;
}

.font-size-2 {
  font-size: 0.875rem;
}

.font-size-3 {
  font-size: 1rem;
}

.font-size-4 {
  font-size: 1.125rem;
}

.font-size-5 {
  font-size: 1.25rem;
}

