<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-segment mode="ios" size="small" [value]="selected_tab">
        <ion-segment-button value="breakfast" (click)="switchTab('breakfast')">
          <ion-label>Breakfast</ion-label>
        </ion-segment-button>
        <ion-segment-button value="lunch" (click)="switchTab('lunch')">
          <ion-label>Lunch</ion-label>
        </ion-segment-button>
        <ion-segment-button value="dinner" (click)="switchTab('dinner')">
          <ion-label>Dinner</ion-label>
        </ion-segment-button>
        <ion-segment-button value="exclude" (click)="switchTab('exclude')">
          <ion-label>Exclude</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-searchbar mode="ios" class="ion-no-padding" [(ngModel)]="search_text"
        (ionInput)="search($event)"></ion-searchbar>
    </ion-col>
    <ion-col size="12">
      <div class="position-relative " *ngIf="filtered_ingredients.length > 0">
        <div class="suggestion-list w-100 ion-padding">
          <ion-list class="ion-no-margin" >
            <ion-item class="ion-no-padding" *ngFor="let ingredient of filtered_ingredients" button (click)="addPreference(ingredient)" lines="none">
              <ion-label>{{ingredient.name}}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <ion-list>
        <ion-item class="ion-no-padding" *ngFor="let preference of preferences[selected_tab]">
          <ion-label>{{preference.name}}</ion-label>
          <ion-icon name="close" slot="end" (click)="removePreference(selected_tab, preference)"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>