<ion-menu contentId="main-content" #mainMenu id="mainMenu">
  <ion-header>
    <ion-toolbar routerLink="/auth/my-profile" (click)="this.mainMenu.close()">
      <ion-avatar slot="start" class="d-flex align-items-center justify-content-center">
        <ion-icon size="large" name="person-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-title >{{user?.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding flex-column justify-content-between">
    <ion-list>
      <ion-item button routerLink="/auth/plans" (click)="this.mainMenu.close()">
        <ion-icon name="flag-outline" slot="start"></ion-icon>
        <ion-label>Plans</ion-label>
      </ion-item>
      <ion-item button routerLink="/auth/recipes" (click)="this.mainMenu.close()">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>Recipes</ion-label>
      </ion-item>
      <ion-item button  routerLink="/auth/stats"  (click)="this.mainMenu.close()">
        <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
        <ion-label>Stats</ion-label>
      </ion-item>
      <ion-item button routerLink="/auth/preferences" (click)="this.mainMenu.close()">
        <ion-icon name="cog-outline"></ion-icon>
        <ion-label>Preferences</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer class="ion-padding ion-no-border">
    <ion-list>
      <ion-item button (click)="logout()">
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-footer>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-router-outlet></ion-router-outlet>
</div>