<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/login" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm">
    <ion-item>
      <ion-input mode="ios" type="text" formControlName="name" label="Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input mode="ios" type="email" formControlName="email" label="Email" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input mode="ios" type="password" formControlName="password" label="Password"></ion-input>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="secondary" size="small" mode="ios" (click)="register()" >Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
